* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(250, 3, 3, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.user-section,
.post-section {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafafa;
}

.user-list {
    text-align: center;
    list-style-type: none;
    padding: 10px;;
    
}

h3 {
    text-align: center;
    margin-bottom: -10px;
}

.user-list li {
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content {
    display: flex;
    justify-content: space-between;
}

.post-info {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
}

